<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SesliAsistan.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SesliAsistan.Settings>
            <setting name="InputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </SesliAsistan.Settings>
    </userSettings>
</configuration>